
}
a:link{
  color:white;
  text-decoration:none;
}
a:visited{
  color:white;
  text-decoration:none;
}
#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
body{
  background: #4D6DB2;
  font-family:"Poppins", sans-serif;
  color:#ffffff;
  font-size:20px;
}


.wrapper{
  display:grid;
  width: 100%;
  background:#E128AC;
  opacity:.8;
  grid-template-rows:70% 30%;
  grid-template-areas:
  "g1"
  "g2";
  }


.header{
  /* height:50%; */
  width:100%;
  float:left;
  grid-area:g1;
}
.header2{
  margin-top:-25px;
  width:100%;
  height: 50%;
  float:left;
  grid-area:g2;
}

h1{
  text-align:center;
  font-weight:400;
  font-size: 75px;
  color:#28E15D;
}
h2{
text-align:center;
font-weight:100;
font-size: 30px;
color:#28E15D;}


/* 2X1 */

.d1{background:LightSkyBlue;}
.d2{background:LightSalmon;}
.d3{background:PaleTurquoise;}
.d4{background:LightPink;}


  .container {
    font-size: 40px;
    width: 100%;
    background: LightGray;
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 50% 50%;
}
.d1 p{
  font-family:"Poppins", sans-serif;
  color:white;
  text-align:right;
  border-right: solid #a175c4 6px;

}
.d4 p{
  font-family:"Poppins", sans-serif;
  color:white;
  text-align:left;
  border-left: solid #a175c4 6px;
}
.container img{
  object-fit:cover;
  width:100%;
  height:100%;
}

.events{
  background-color:#a175c4;
}
.events h2{
   font-family:"Poppins", sans-serif;
   font-weight:100;
   font-size:3em;
}
.news{
  background-color:#a175c4;
  font-size: 10px;
  width: 100%;
  display:grid;
  grid-template-columns:33% 33% 34%;
  grid-template-rows:10% 45% 45%;
  grid-template-areas:
  "header header header"
  "news1 news2 news4"
  "news1 news2 news4";


}
 .news h2{
  font-family:"Poppins", sans-serif;
  font-weight:100;
  font-size:5em;
  position:relative;
  top:5px;
  width:100%;
  height:auto;



}
.news h4{
font-family:"Poppins", sans-serif;
  font-weight:400;
  font-size: 16px;
  object-fit:contain;



}
.news p{
font-family:"Poppins", sans-serif;
font-weight:lighter;
font-size:14px;
width:95%;
margin:0;

}
.news0{
  font-size:12px;
  height:100%;
  grid-area:header;
  position:relative;
  bottom:75px;
}
.news1{
text-align:left;
grid-area:news1;

}
.newstext{
  word-wrap: break-word;

}
.news1 img{
  object-fit:cover;
    height:50%;
    width:95%;
    border-top: solid yellow 3px;
}
.news2{
  text-align:left;
  object-fit:cover;
  grid-area:news2;
}

.news2 img{
  object-fit:cover;
    height:50%;
    width:95%;
    border-bottom: solid yellow 3px;

}
.news4{
  text-align:left;
  grid-area:news4;
  object-position:right;
}

.news4 img{
  object-fit:cover;
    height:50%;
    width:95%;
    border-top: solid yellow 3px;

}


.outer {
    padding: 0px;
    width:100%;
    background: #4D6DB2;
}

.wrap {
    margin: 0 auto;
}
.sub {
    padding: 10px 10px 10px 25px;
    width: 500px;
    /* height: 50px; */
    display: table-cell;
    border-right: solid #422703 1px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.sub:last-child {
    border: 0px;
}
.sub:hover{
  background: #4db292;
  transition: background-color .5s;
  border-bottom: solid #f46414 6px;
}

a:link{
  color:white;
  text-decoration:none;
}
a:visited{
  color:white;
  text-decoration:none;
}

.outerfoot {
    padding: 0px;
    width:100%;
    height:150px;
}

.wrap {
    margin: 0 auto;
    height:50px;
}
.subfoot {
    padding: 10px 10px 10px 25px;
    width: 500px;
    height: 150px;
    display: table-cell;
    border-right: solid #422703 1px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.subfootimage{
  max-width:100%;
max-height:100%;
}
.subfoot:last-child {
    border: 0px;
}
.subfoot:hover{
  background: #4db292;
  transition: background-color .5s;
  border-top: solid #f46414 6px;
  height:150px;
}
.foottxt{
  text-align: center;
  font-weight:bold;
  color:#ffffff;
}
